body {
    width: 945px;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    cursor: pointer;
    
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 30px;
    line-height: 30px;
    border-radius: 15px;
    background: green;
    text-align: center;

}